/*div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  display: flex;
}*/

div.container {
  text-align: center;
  padding: 10px 20px;
  display:flex;
}
.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #087285;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

#btn_back{
  margin-top: 1%;
  background-color:#8b71cf ;
  border-radius: 5px;
}
#word_back{
  color: white;
  text-decoration: none;
}
.container2{

background-color: cornflowerblue;

}