.top {
	background-color: #23b83c;
	border: 2px solid #23b83c;
	color: whitesmoke;
	padding: 1em 1.5em;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	display: inline-block;
    width: auto;
    margin-right: 7px;
	border-radius: 5px;
    box-shadow: 3px 3px 8px 0 #000; /* h-offset v-offset blur spread color */
    margin-left: 0;
}