<body>
    <form>
    
      <div class="segment">
        <h1>Создать аккаунт</h1>
      </div>
    
      <label>
        <input type="text" placeholder="Имя пользователя"/>
      </label>
    
      <label>
        <input type="text" placeholder="Почта"/>
      </label>
    
      <label>
        <input type="password" placeholder="Пароль"/>
      </label>
    
      <button [routerLink]="['']" type="button" ><i class="fas fa-lock-open"></i> Зарегестрироваться</button>
    
      <button [routerLink]="['/sign-in']" class="new" type="button">Уже есть аккаунт?</button>
    
  </form>
    
</body>
    