<div class="footer">
    <div class="container">
        <div class="first">
            <h4>Copmany Name</h4>
            <p>
                KBTU developers
            </p>
        </div>
        <div class="second">
            <h4>HELP</h4>
            <ul class="list">
                <li> Shipping Information</li>
                <li> Returns & Exchange</li>
                <li> Terms & Conditions</li>
                <li> Privacy Policy </li>
            </ul>
        </div>
        <div class="third">
            <h4>HAVE A QUESTION</h4>
            <p>
                Tole bi 54 St, Almaty, Kazakhstan</p>
            <p>+7 705 519 69 61</p>
            <p>nazkeyramazan@gmail.com
            </p>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2020 All rights reserved | This application is made by KBTU students</p>
    </div>
</div>