<div>

 <h2>{{category.name}}</h2>

 <div *ngFor="let product of products">
   
  
  <div class="polaroid">
    <img src="{{product.image}}" width="300" height="400">

    <div class="container">
      <h3 style="font-size: 25px;">
        <a routerLink="/products/{{product.id}}" [title]="product.name + ' details'">
          {{ product.name }}
        </a>
      </h3>
        <p *ngIf="product.description" style="font-size: 25px;"  >
          Описание :  {{ product.description }}
         
         </p>
    
        <p *ngIf="product.price" style="font-size: 25px;">  
          Цена : {{ product.price }} ₸
        </p>
        
    </div>
  </div>


  
  
  </div>
</div>  